*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo de la página */
.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff0000;
}   